.icecream1 {
  position: absolute;
width: 40.5px;
height: 56.25px;
left: 1377.34px;
top: 155px;
transform: rotate(13.72deg);
}
.icecream2 {
  position: absolute;
width: 108px;
height: 159px;
left: 1379px;
top: 321.92px;

transform: rotate(-72.35deg);
}
.icecream3 {
  position: absolute;
width: 108px;
height: 159px;
left: 1318px;
top: 353px;
}
.icecream4 {

position: absolute;
width: 60.05px;
height: 88.4px;
left: 1225px;
top: 336.55px;

transform: rotate(-46.5deg);
}
.icecream5 {

position: absolute;
width: 64px;
height: 94.22px;
left: 1201px;
top: 420px;
}
.icecream6 {
  position: absolute;
width: 87.74px;
height: 129.18px;
left: 1060px;
top: 359.83px;

transform: rotate(-58.52deg);
}
.icecream7 {
  position: absolute;
width: 108px;
height: 159px;
left: 978px;
top: 356px;
}
.icecream8 {

position: absolute;
width: 54px;
height: 75px;
left: 944px;
top: 310px;

}
.icecream9 {

position: absolute;
width: 54px;
height: 75px;
left: 876px;
top: 433px;
}
.icecream10 {

position: absolute;
width: 79.92px;
height: 117.66px;
left: 794px;
top: 355.84px;

transform: rotate(-62.42deg);
}
.icecream11 {
  position: absolute;
width: 65.81px;
height: 96.89px;
left: 732px;
top: 412.95px;

transform: rotate(-44.79deg);
}
.icecream12 {
position: absolute;
width: 40.5px;
height: 56.25px;
left: 656.34px;
top: 356px;

transform: rotate(13.72deg);
}
.icecream13 {

position: absolute;
width: 81px;
height: 119.26px;
left: 675.03px;
top: 412.29px;

transform: rotate(13.72deg);
}
.icecream14 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 599.34px;
top: 436px;

transform: rotate(13.72deg);
}
.icecream15 {

position: absolute;
width: 65.81px;
height: 96.89px;
left: 680px;
top: 568.12px;

transform: rotate(-58.52deg);
}
.icecream16 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 593px;
top: 530.75px;
}
.eyes1 {
  position: absolute;
width: 102.33px;
height: 68.14px;
left: 113px;
top: 1673px;

}
.eyes2 {
  position: absolute;
width: 84.12px;
height: 42.55px;
left: 106px;
top: 1801.04px;

transform: rotate(-38.22deg);
}
.eyes3 {
  position: absolute;
width: 133.01px;
height: 108.39px;
left: 111px;
top: 1830px;

}
.eyes4 {
  position: absolute;
width: 90px;
height: 45.53px;
left: 192px;
top: 1804px;
}
.eyes5 {

position: absolute;
width: 87px;
height: 44.01px;
left: 237px;
top: 1887.02px;

transform: rotate(-33.5deg);
}
.eyes6 {

position: absolute;
width: 47.26px;
height: 23.91px;
left: 405.76px;
top: 1794px;

transform: rotate(32.26deg);
}
.eyes7 {

position: absolute;
width: 89px;
height: 44.02px;
left: 400px;
top: 1846px;

}
.eyes8 {

position: absolute;
width: 60.17px;
height: 30.44px;
left: 458px;
top: 1830.91px;

transform: rotate(-51.22deg);
}
.eyes9 {
  position: absolute;
width: 87.68px;
height: 44.35px;
left: 519.04px;
top: 1822px;

transform: rotate(25.42deg);
}
.eyes10{
  position: absolute;
width: 55px;
height: 27.82px;
left: 541px;
top: 1799px;

}
.eyes11{
  position: absolute;
width: 65px;
height: 52.97px;
left: 596px;
top: 1839px;

}
.eyes12 {
  position: absolute;
width: 84.12px;
height: 42.55px;
left: 627.42px;
top: 1781.28px;

transform: rotate(30deg);
}
.eyes13 {
  position: absolute;
width: 65px;
height: 52.97px;
left: 666px;
top: 1885.84px;

transform: rotate(-69.4deg);
}
.eyes14 {
  position: absolute;
width: 99.28px;
height: 76.37px;
left: 794px;
top: 1785px;
}
.eyes15 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 794.2px;
top: 1851.38px;
}
.eyes16{
  position: absolute;
width: 98px;
height: 106.34px;
left: 843px;
top: 1835px;
}
.eyes17 {
  position: absolute;
width: 77.38px;
height: 68.81px;
left: 895px;
top: 1782px;
}
.eyes18 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 931px;
top: 1847px;

}
.eyes19 {
  position: absolute;
width: 87.02px;
height: 78.69px;
left: 974.56px;
top: 1884.64px;

transform: rotate(68.97deg);
}
.eyes20{

position: absolute;
width: 64.76px;
height: 65.34px;
left: 953.12px;
top: 1960.2px;

transform: rotate(126.87deg);
}
.eyes21 {

position: absolute;
width: 64.76px;
height: 65.34px;
left: 912px;
top: 1965px;

}
.eyes22 {

position: absolute;
width: 84px;
height: 85.34px;
left: 956.15px;
top: 2041px;

transform: rotate(57.72deg);
}
.eyes23 {
  position: absolute;
width: 87.76px;
height: 88px;
left: 1029.49px;
top: 2019px;

transform: rotate(52.15deg);
}
.eyes24 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 1092.25px;
top: 2001px;

transform: rotate(79.51deg);
}
.krug1 {
  position: absolute;
width: 72px;
height: 68px;
left: 351px;
top: 3011px;
}
.krug2 {
  position: absolute;
width: 48px;
height: 47px;
left: 449px;
top: 3055px;
}
.krug3 {
  position: absolute;
width: 62px;
height: 60px;
left: 521px;
top: 3008px;
}
.krug4 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 953px;
top: 2001px;
}
.krug5 {
  position: absolute;
width: 62px;
height: 61px;
left: 780px;
top: 3496px;

}
.krug6 {
  position: absolute;
width: 62px;
height: 61px;
left: 728px;
top: 3571px;
}
.krug7 {
  position: absolute;
width: 45px;
height: 44px;
left: 521px;
top: 3580px;
}
.krug8 {
  position: absolute;
width: 28px;
height: 27px;
left: 365px;
top: 3533px;

}
.krug9 {
  position: absolute;
width: 72px;
height: 68px;
left: 370px;
top: 3473px;
}
.krug10 {
  position: absolute;
width: 62px;
height: 61px;
left: 535px;
top: 3502px;

}
.krug11 {
  position: absolute;
width: 44px;
height: 42px;
left: 381px;
top: 3584px;
}
.krug12 {
  position: absolute;
width: 29px;
height: 28px;
left: 718px;
top: 3038px;
}
.krug13 {
  position: absolute;
width: 29px;
height: 28px;
left: 768px;
top: 3003px;
}
.krug14{
  position: absolute;
width: 42px;
height: 42px;
left: 811px;
top: 3024px;
}
.krug15 {
  position: absolute;
width: 28px;
height: 28px;
left: 837px;
top: 3005px;
}
.krug16 {
  position: absolute;
width: 42px;
height: 42px;
left: 993px;
top: 3017px;
}
.krug17 {
  position: absolute;
width: 32px;
height: 32px;
left: 938px;
top: 3003px;
}
.krug18 {
  position: absolute;
width: 19px;
height: 19px;
left: 863px;
top: 3021px;

}
.krug19 {
  position: absolute;
width: 29px;
height: 28px;
left: 718px;
top: 3038px;
}
.krug20 {
  position: absolute;
width: 29px;
height: 28px;
left: 768px;
top: 3003px;
}
.krug21 {
  position: absolute;
width: 42px;
height: 42px;
left: 811px;
top: 3024px;
}
.krug22 {
  position: absolute;
width: 28px;
height: 28px;
left: 837px;
top: 3005px;
}
.krug23 {
  position: absolute;
width: 42px;
height: 42px;
left: 993px;
top: 3017px;
}
.krug24 {
  position: absolute;
width: 32px;
height: 32px;
left: 938px;
top: 3003px;
}
.krug25 {
  position: absolute;
width: 19px;
height: 19px;
left: 863px;
top: 3021px;
}
.doll1 {
  position: absolute;
width: 67.66px;
height: 105.35px;
left: 475px;
top: 4545px;

}
.doll2 {
  position: absolute;
width: 99.35px;
height: 92.69px;
left: 634px;
top: 4439px;

}
.doll3 {
  position: absolute;
width: 162.2px;
height: 177.23px;
left: 704px;
top: 4441px;
}
.doll4 {
  position: absolute;
width: 67.66px;
height: 105.35px;
left: 475px;
top: 4545px;

}
.doll5 {
  position: absolute;
width: 99.35px;
height: 92.69px;
left: 634px;
top: 4439px;

}
.doll6 {
  position: absolute;
width: 162.2px;
height: 177.23px;
left: 704px;
top: 4441px;
}
.doll7 {
  position: absolute;
width: 99.35px;
height: 92.69px;
left: 634px;
top: 4439px;
}
.doll8 {
  position: absolute;
width: 67.9px;
height: 68.52px;
left: 1381px;
top: 4448px;

}
.doll9 {
  position: absolute;
width: 99.35px;
height: 92.69px;
left: 634px;
top: 4439px;
}
.doll10 {
  position: absolute;
width: 67.9px;
height: 68.52px;
left: 1381px;
top: 4448px;

}
.sport1 {
  position: absolute;
width: 102px;
height: 65.57px;
left: 51px;
top: 3974.37px;

transform: rotate(-38.41deg);
}
.sport2 {
  position: absolute;
width: 102px;
height: 65.57px;
left: 180px;
top: 3971.37px;
}
.sport3 {

position: absolute;
width: 72.53px;
height: 46.63px;
left: 52px;
top: 4068.06px;
}
.sport4 {
  position: absolute;
width: 50.51px;
height: 32.47px;
left: 78px;
top: 4207.38px;
}
.sport5 {
  position: absolute;
width: 84.61px;
height: 46.19px;
left: 409.77px;
top: 3914px;
}
.sport6 {

position: absolute;
width: 68.51px;
height: 44.04px;
left: 500px;
top: 4300px;
}
.sport7 {
  position: absolute;
width: 51.84px;
height: 33.33px;
left: 615.61px;
top: 3943.87px;
}
.sport8 {
  position: absolute;
width: 102px;
height: 65.57px;
left: 598px;
top: 3962.37px;

}
.sport9 {
  position: absolute;
width: 52.32px;
height: 33.63px;
left: 350px;
top: 4010.5px;

}
.sport10{
  position: absolute;
width: 87.72px;
height: 56.39px;
left: 34px;
top: 4354.5px;
}
.sport11 {
  position: absolute;
width: 39.9px;
height: 25.65px;
left: 141.93px;
top: 4311px;

}
.sport12{
  position: absolute;
width: 77.9px;
height: 50.08px;
left: 129.9px;
top: 4368px;
}
.sport13{
  position: absolute;
width: 102px;
height: 65.57px;
left: 53px;
top: 4513.37px;
}
.sport14 {
  position: absolute;
width: 36.35px;
height: 23.37px;
left: 52px;
top: 4442.58px;
}
.sport15 {

position: absolute;
width: 102px;
height: 65.57px;
left: 196px;
top: 4448.94px;
}
.sport16 {
  position: absolute;
width: 64.87px;
height: 41.7px;
left: 220px;
top: 4522px;

}
.sport17 {
  position: absolute;
width: 59.27px;
height: 38.1px;
left: 291px;
top: 4540.82px;
}
.more1 {
  position: absolute;
width: 78.66px;
height: 31.69px;
left: 603.27px;
top: 813px;

}
.more2 {
  position: absolute;
  width: 88px;
  height: 44.67px;
  left: 711.32px;
  top: 792px;
}
.more3 {
  position: absolute;
width: 132px;
height: 67px;
left: 586px;
top: 921.54px;
}
.more4 {
  position: absolute;
width: 100.48px;
height: 51px;
left: 709px;
top: 955px;

}
.more5 {
  position: absolute;
width: 87px;
height: 44.16px;
left: 830px;
top: 1033.54px;
}
.more6 {
  position: absolute;
width: 96px;
height: 48.73px;
left: 928.86px;
top: 955px;
}
.more7 {
  position: absolute;
width: 51.53px;
height: 22.03px;
left: 1020px;
top: 980.14px;
}
.more8 {
  position: absolute;
width: 96px;
height: 48.73px;
left: 1012px;
top: 1012.84px;

}
.more9 {

position: absolute;
width: 96px;
height: 48.73px;
left: 1120.36px;
top: 947px;
}
.more10 {
  position: absolute;
width: 76.58px;
height: 53.36px;
left: 1234.61px;
top: 1009px;
}
.more11 {

position: absolute;
width: 95.8px;
height: 66.76px;
left: 1256px;
top: 1103.74px;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes spinn {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes shake {
  0%, 50% {top: 3010px;}
  25% {top: 2980px;}
  75% {top: 2960px;}
  100% {top:3010px;}
}
  @keyframes shaken {
    0%, 50% {top: 3500px;}
    25% {top: 3470px;}
    75% {top: 3450px;}
    100% {top:3500px;}
  }
  @keyframes shakenn {
    0%, 50% {top: 3600px;}
    25% {top: 3470px;}
    75% {top: 3450px;}
    100% {top:3600px;}
  }
  @keyframes move {
    0%, 50% {left: 600px;}
    25% {left: 700px;}
    75% {left: 590px;}
    100% {left:600px;}
  }
  @keyframes movee {
    0%, 50% {left: 475px;}
    25% {left: 704px;}
    75% {left: 590px;}
    100% {left:475px;}
  }
  @keyframes moveee {
    0%, 50% {left:634px;}
    25% {left: 1000px;}
    75% {left: 1300px;}
    100% {left:634px;}
  }
  @keyframes moveeee {
    0%, 50% {left:700px;}
    25% {left: 1100px;}
    75% {left: 1300px;}
    100% {left:700px;}
  }
  @keyframes moven {
    0%, 50% {left:450px;}
    25% {left: 300px;}
    75% {left: 500px;}
    100% {left:750px;}
  }
  @keyframes povorot {
    0% {transform: rotate(5deg);}
    100% {transform: rotate(250deg);}
  }
  @keyframes around {
    0% {transform: rotate(-18deg);}
    100% {transform: rotate(115deg);}
  }
