@import "responsive.css";
@import "content.css";
@import "animation.css";
@font-face {
	font-family: 'RF Krabuler';
	src: url('../font/RFKrabuler-Regular.eot');
	src: local('../font/RFKrabuler-Regular'),
		url('../font/RFKrabuler-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/RFKrabuler-Regular.woff') format('woff'),
		url('../font/RFKrabuler-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}